<div class="lg:w-1/2 md:w-2/3 mx-auto text-center  min-h-screen">
  <h1 class="my-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= t ('.title') %></h1>
    <%= form_with model: @post, local: true do |f| %>
      <div class="form-control mb-10">
        <%= f.label :title, class: 'label' %>
        <%= f.text_field :title, class: 'input input-primary' %>
      </div>
      <%= f.fields_for :restaurants do |restaurant_form| %>
        <% @store_infomations.each do |info| %>
          <div class="form-contol mb-5">
            <%= restaurant_form.label info['name'] %>
            <%= restaurant_form.check_box :name, { multiple: true }, info['name'], nil %> 
          </div>
        <% end %>
      <% end %>
      <%= f.submit (t '.create'), class: 'btn btn-primary' %>
    <% end %>
  <div class="flex justify-end">
     <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス"></a>
  </div>
</div>
