<div class="flex justify-center items-center py-12 px-4"> 
  <div class="lg:w-1/2 md:w-2/3 mx-auto text-center  min-h-screen">
    <h1 class="my-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= t ('.title') %></h1>
    <h1 class="my-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= @post.title %></h1>
    <% if @restaurant_count.empty? %>
      <p class="text-xl my-3"><%= t('.no_vote_results') %></p>
    <% else %>
    <div class="w-full lg:hidden">
      <%= bar_chart @restaurant_count, empty: "投票結果がありません", height: "800px", width: "300px", library: { 
        yAxis: {
          max: @max_value,
          allowDecimals: false
        },
        legend: {
          enabled: false
        },
        chart: {
          height: 800
        },
        xAxis: {
          labels: {
            style: {
              textOverflow: 'none',
            },
          }
        }
        } %>
      </div>

    <div class="w-full hidden lg:block">
      <%= bar_chart @restaurant_count, empty: "投票結果がありません", height: "500px", library: { 
        yAxis: {
          max: @max_value,
          allowDecimals: false
        },
        legend: {
          enabled: false
        },
        chart: {
          height: 500
        },
        xAxis: {
          labels: {
            style: {
              textOverflow: 'none',
            },
          }
        }
        } %>
      </div>
    <% end %>
    <%= link_to (t '.vote_list_page'), posts_path, class: 'btn bg-red-600 border-red-600 mt-12' %>
  </div>
</div>