<div class="flex justify-center items-center py-12 px-4">
  <div class="lg:w-1/2 md:w-2/3 mx-auto text-center  min-h-screen">
    <h1 class="my-6 text-center text-4xl font-bold tracking-tight text-gray-900">投票ページ</h1>
    <h3 class="my-6 text-center text-2xl font-bold tracking-tight text-gray-900"><%= @post.title %></h3>
    <p class="mb-10 text-xl">お店を選んで投票してください</p>
    <%= form_with model: @vote, url: votes_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% @restaurants.each do |restaurant| %>
      <div class="form-contol flex items-center justify-between mb-5 text-center">
      <%= image_tag restaurant.image %>   
      <%= link_to restaurant.name, restaurant.url , class: 'text-blue-700 text-base lg:text-xl' %>
      <%= f.radio_button :restaurant_id, restaurant.id %>
      </div>
    <% end %>
      <%= f.submit (t '.voting'), class: 'btn btn-primary mt-6' %>
    <% end %>
  </div>
</div>
