<div class="w-full max-w-md space-y-8">
  <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Login</h1>
  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <div class="form-control mb-10">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, class: 'input input-primary' %>
    </div>
    <div class="form-control mb-10">
        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, class: 'input input-primary' %>
    </div>
    <%= f.submit 'Login', class: 'btn btn-primary' %>
  <% end %>
</div>