<div class="lg:w-1/2 md:w-2/3 mx-auto">
  <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= t '.title' %></h1>
  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <div class="form-control mb-10">
      <%= f.label :email, User.human_attribute_name(:email) ,class: 'label' %>
      <%= f.email_field :email, class: 'input input-primary' %>
    </div>
    <div class="form-control mb-10">
      <%= f.label :password, User.human_attribute_name(:password) ,class: 'label' %>
      <%= f.password_field :password, class: 'input input-primary' %>
    </div>
    <div class="flex justify-between items-center">
      <%= f.submit (t 'defaults.login'), class: 'btn btn-primary' %>
      <%= link_to (t '.register_page'), new_user_path, class: 'inline-block mx-30' %>
    </div>
  <% end %>
</div>